.vs
Binaries
Build
Config
Content
DerivedDataCache
Intermediate
Platforms
Plugins
Saved
Source

Plugins/MultiplayerSessions/Binaries
Plugins/MultiplayerSessions/Intermediate
.vscode

*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace


