.vs
Binaries
Build
Config
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Assets
Content/Blueprints
Content/Collections
Content/Developers

DerivedDataCache
Intermediate
Platforms
Saved

Plugins/MultiplayerSessions/Binaries
Plugins/MultiplayerSessions/Intermediate
.vscode

*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace


